<div class="pos-f-t">    
    <nav class="sb-topnav navbar navbar-dark bg-dark">
        <div class="">
            <a class="navbar-brand" href="#">Clientes</a>
            <button 
                class="navbar-toggler btn btn-link btn-sm order-1 order-lg-0" 
                id="sidebarToggle" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarToggleExternalContent" 
                aria-controls="navbarToggleExternalContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation" 
                href="#"         
            >
                <span class="navbar-toggler-icon"></span>            
            </button>
        </div>
    </nav>
  </div> 